<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait......</p>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive m-t-40">
          <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_length" id="myTable_length">
              <label
                >Show
                <select
                  name="myTable_length"
                  aria-controls="myTable"
                  [(ngModel)]="quantityShow"
                  (change)="changeQuantity()"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                items
              </label>
            </div>
            <div id="myTable_filter" class="dataTables_filter">
              <label
                >Search:
                <input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="myTable"
                  (keyup)="searchUser(inputSearch.value)"
                  #inputSearch
                />
              </label>
            </div>
            <table
              id="myTable"
              class="table table-bordered table-striped dataTable no-footer"
              role="grid"
              aria-describedby="myTable_info"
            >
              <thead>
                <tr role="row">
                  <th class="text-center w5">
                    <span class="font-weight-bold">Avatar</span>
                  </th>
                  <th class="text-center w40">
                    <span class="font-weight-bold">Name</span>
                  </th>
                  <th class="text-center w40">
                    <span class="font-weight-bold">Email</span>
                  </th>
                  <th class="text-center w15">
                    <span class="font-weight-bold">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let user of users">
                  <td class="text-center w5">
                    <img
                      [src]="user.imageUrl"
                      alt="Avatar of User"
                      class="img-responsive mx-auto zd-block imgtable img-circle"
                    />
                  </td>
                  <td class="text-center w40">{{ user.name }}</td>
                  <td class="text-center w40">{{ user.email }}</td>

                  <td class="text-nowrap text-center w15">
                    <a
                      *ngIf="userLogin.id !== user.id"
                      class="cursorpointer"
                      data-toggle="modal"
                      data-original-title="Delete"
                      data-target="#deleteUser-modal"
                      (click)="getUser(user)"
                    >
                      <i class="fa fa-close text-danger m-r-10"></i>
                    </a>
                    <a
                      class="cursorpointer"
                      data-toggle="modal"
                      data-target="#myModalRight"
                      data-original-title="View"
                      (click)="getUser(user)"
                    >
                      <i class="fa fa-eye text-info m-r-10"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!searching">
              <div
                class="dataTables_info"
                id="myTable_info"
                role="status"
                aria-live="polite"
              >
                Show
                {{ currentPage * quantityShow - quantityShow + 1 }} to
                {{ (currentPage - 1) * quantityShow + users.length }}
                of {{ total }} items
              </div>
              <div
                class="dataTables_paginate paging_simple_numbers"
                id="myTable_paginate"
              >
                <button
                  class="paginate_button previous"
                  aria-controls="myTable"
                  data-dt-idx="0"
                  tabindex="0"
                  id="myTable_previous"
                  (click)="changePreviousNext(-1)"
                >
                  Previous
                </button>
                <span>
                  <a
                    class="paginate_button"
                    [ngClass]="{ current: item === currentPage }"
                    aria-controls="myTable"
                    data-dt-idx="item"
                    tabindex="0"
                    *ngFor="let item of pages"
                    (click)="changePage(item)"
                  >
                    {{ item }}
                  </a>
                </span>
                <button
                  class="paginate_button next"
                  aria-controls="myTable"
                  data-dt-idx="7"
                  tabindex="0"
                  id="myTable_next"
                  (click)="changePreviousNext(1)"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar-->

<div
  id="deleteUser-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Deleting User</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <p>You really want to delete this user?</p>
        <p>This action will be irreversible!!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default waves-effect"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light"
          data-dismiss="modal"
          (click)="deleteUser()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 
  Modal Right
-->

<app-rightmodaluser [idModal]="'myModalRight'" [user]="user">

</app-rightmodaluser>