<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">My Profile</h3>
        <h6 class="card-subtitle text-center">Setup</h6>
        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (submit)="profileUpdate()"
        >
          <div class="form-group">
            <label>User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-lock"></i></div>
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="profileForm.invalid"
          >
            <i class="fa fa-save"></i> Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
 
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">User Image</h3>
        <h6 class="card-subtitle text-center">View / Change</h6>

        <img
          *ngIf="!imgTemp"
          [src]="user.imageUrl"
          alt=""
          class="img-responsive mx-auto zd-block profile-card img-circle"
        />
        <img
          *ngIf="imgTemp"
          [src]="imgTemp"
          alt=""
          class="img-responsive mx-auto zd-block profile-card img-circle"
        />
        <br />
        <input
          type="file"
          accept="image/png, .jpeg, .jpg, image/gif"
          (change)="imgChange($event.target.files[0])"
        />
        <br />
        <br />
        <button
          type="button"
          class="btn btn-success btn-block waves-effect waves-light m-r-10"
          [disabled]="!imgUpload"
          (click)="imageUpload()"
        >
          <i class="fa fa-save"></i> Save Picture
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Change Password</h3>

        <form
          class="form p-t-20"
          [formGroup]="changePasswordForm"
          (submit)="changePassword()"
        >
          <div class="form-group">
            <label>Previous Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-lock"></i></div>
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
            </div>
          </div>
          <div class="form-group">
            <label>Current Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-lock"></i></div>
              <input
                type="password"
                class="form-control"
                id="exampleInputEmail2"
                formControlName="password2"
              />
            </div>
          </div>
          <div class="form-group">
            <label>Confirm Current Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-lock"></i></div>
              <input
                type="password"
                class="form-control"
                formControlName="repPassword2"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="changePasswordForm.invalid"
          >
            <i class="fa fa-save"></i> Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
