<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark center-all" href="#" aria-expanded="false"><img
                            [src]="user.imageUrl" alt="user" /><span class="hide-menu">{{user.name}}
                        </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="profile" routerLinkActive="active" class="cursorpointer">My Profile </a></li>                       
                        <li><a routerLink="account-setting" routerLinkActive="active" class="cursorpointer">Account Setting</a></li>
                        <li><a (click)="logout()" class="cursorpointer">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PRINCIPAL MENU</li>
                <li *ngIf="user.role === 'ADMIN_ROLE' || user.role === 'ADVUSER_ROLE'"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Admin</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngIf="user.role === 'ADMIN_ROLE'"><a routerLink="users" routerLinkActive="active" class="cursorpointer">Users </a></li>
                        <li><a routerLink="polls" routerLinkActive="active" class="cursorpointer">Polls</a></li>                        
                    </ul>
                </li>                            
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->